body {
    background: url(/workshop/exercise-5-boss-level/imgs/bg.gif); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

#container{
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center ;
}

#player1 {
    position: absolute;
    top:80%;
    right:90%;

}
#player2 {
    position: absolute;
    top:80%;
    left:90%;

}

.pressedEffect{
    box-shadow: none;
    color: red;
}

#startButton, #instructionButton{
    outline: none;
    border-radius: 7px;
    width: 350px;
    height: 150px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:grey;
    background-color: lightgray;
    font-weight: bold;
    box-shadow: 0 .9em gray; 
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5rem;
}

#startButton{
    margin-bottom: 60px;
}

#instructionStyle{
    background-color: teal;
    opacity: 75%;
    border: 8px wheat solid;
    padding:20px;
    text-align: justify;
    border-radius: 7px;
    width: 500px;
    font-size: 2rem;
    color:wheat;
}

#player1Point1 {
    margin: 20px;
    position: absolute;
    left: .5%;
}
#player1Point2 {
    margin: 20px;
    position: absolute;
    left: 5.5%;
}
#player1Point3 {
    margin: 20px;
    position: absolute;
    left: 11%;
}

#player2Point1 {
    margin: 20px;
    position: absolute;
    left:95%;

}
#player2Point2 {
    margin: 20px;
    position: absolute;
    left: 90%;
}
#player2Point3 {
    margin: 20px;
    position: absolute;
    left: 85%;
}

#oneWins, #twoWins {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top:35%;
    left: 45%;
    width: 500px;
    height: 200px;
    color: wheat ;
    z-index: 2;
}

#simpleRefresh {
    outline: none;
    border-radius: 7px;
    width: 350px;
    height: 150px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:grey;
    background-color: lightgray;
    font-weight: bold;
    box-shadow: 0 .9em gray; 
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5rem;
    position: absolute;
    top:45%;
    left: 47%;

}